name: Run Tests

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Setup a virtual framebuffer
        run: Xvfb :99 -screen 0 1920x1080x24 &
        if: matrix.os == 'ubuntu-latest'
      - run: yarn install --frozen-lockfile
      # Use npm since yarn causes an open handle to hang instead of correctly quitting on Windows
      - run: npm run test:unit
        env:
          DISPLAY: ':99'
